<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="./css/style.css">
    <title>TODO | Vikram</title>
    <link rel="shortcut icon" href="../public/images/todo-icon.png" type="image/x-icon">
  </head>
  <body>
    <nav class="navbar navbar-expand navbar-light pt-4 ps-5 pe-5"  >
      <!-- style="background-color: #004989;" -->
      <div class="container me-md-5 ms-md-5 ps-md-5 pe-md-5" >
        <!-- style="border-bottom: 2px solid #000;" -->
        <a class="navbar-brand" href="index.html">
          <img src="../public/images/todo-icon.png" alt="" width="80" >
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <!-- <li class="nav-item">
              <a class="nav-link" aria-current="page" href="index.html">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" onclick="ResetLocalStorage()">Reset Game</a>
            </li> -->
          </ul>
          <div class="d-flex">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" data-bs-toggle="modal" data-bs-target="#exampleModal"  onclick="ResetLocalStorage()"><i
                    class="bi bi-arrow-repeat" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Reset Game"></i></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" aria-current="page" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="bi bi-info-circle-fill" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Game Details"></i></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" aria-current="page" data-bs-toggle="modal" data-bs-target="#modalDevelope"><i class="bi bi-file-code-fill" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Game Developed by"></i></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>

    <div class="container ps-5 pe-5">
      <div class="row">
        <div class="col-sm-12 pe-5">
          <h4 class="text-muted text-end">Welcome, <strong><span id="userDisplayName"><%= displayName %></span></strong></h4>
        </div>
      </div>
    </div>

    <div class="container"  >
      <div class="row">
          <div class="pt-0 ps-5 pe-5 pb-4 display-3 text-center">TODO. APP</div>
      </div>
      <div class="row" id="inputDiv">
        <button class="btn btnStyle mt-2" onclick="startGame()">Add TODO</button>
      </div>
    </div>

    <div class="container mt-4" id="TodoDiv" style="">
      <div class="row">
        <div class="col m-auto">
          <h3 class="p-1 text-muted text-center">My TODO LIST :</h3>
           
          <!-------------------->

          <div class="container">
            <h2>Select Number Of Rows</h2>
                    <div class="form-group"> 	<!--		Show Numbers Of Rows 		-->
                         <select class  ="form-control" name="state" id="maxRows">
                             <option value="5000">Show ALL Rows</option>
                             <option value="5">5</option>
                             <option value="10">10</option>
                            </select>
                         
                      </div>
    
    <table class="table table-striped table-class" id= "table-id">
      
      <thead>
        <tr>
            <th>Title</th>
            <th>Category</th>
            <th>Status</th>
            <th>CreatedAt</th>
            <th>Actions</th>
        </tr>
        
      </thead>
      
      <tbody>
        <% todo.forEach(function(list) { %>
        <tr>
            <td><%= list.title %></td>
            <td><%= list.category %></td>
            <td><%= list.status %></td>
            <td><%= moment().format('Do MMMM, YYYY', list.createdAt)  %></td>
            <td> <i class="bi bi-check-circle" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Mark Complete"></i> 
                <i class="bi bi-pencil-square" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Edit Item"></i> 
                <i class="bi bi-trash-fill" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Delte Item"></i> </td>
        </tr>
        <% }) %>
     
          </tbody>
    
    </table>
    
    <!--		Start Pagination -->
                <div class='pagination-container' >
                    <nav>
                      <ul class="pagination">
                
                <li data-page="prev" >
                                         <span> < <span class="sr-only">(current)</span></span>
                                        </li>
                       <!--	Here the JS Function Will Add the Rows -->
            <li data-page="next" id="prev">
                                           <span> > <span class="sr-only">(current)</span></span>
                                        </li>
                      </ul>
                    </nav>
                </div>
    
    </div> 

          <!--------------------->
        

        </div>
      </div>
    </div>

      
      








    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Game Details</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <p class="list-group-item list-group-item-action active">
              RULES FOR BLACKJACK CARD GAME
            </p>
            <p class="list-group-item list-group-item-action">1. This is card game (BlackJack) based on standard 52-card
              pack</p>
            <p class="list-group-item list-group-item-action">2. Each participant attempts to beat the dealer by getting a
              count as close to 21 as possible, without going over 21.</p>
            <p class="list-group-item list-group-item-action">3. It is up to each individual player if an ace is worth 1 or
              11. Face cards are 10 and any other card is its pip value.</p>
            <p class="list-group-item list-group-item-action">4. Before the deal begins, each player places a bet, in
              chips, in front of them in the designated area.</p>
            <p class="list-group-item list-group-item-action">5. Minimum and maximum limits are established on the betting,
              and the general limits are from <strong>₹2</strong> to <strong>₹500</strong>.</p>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="modalDevelope" tabindex="-1" aria-labelledby="modalDeveloper" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="modalDeveloper">Game Developed By</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <ol>
              <li>Anirudh</li>
              <li>Vikram</li>
              <li>Vishal</li>
            </ol>
           
            <ul>

            
            <li> <p class="text-success">Release 0 :
              Analyse, Assign and Break</p>
              <ol>
                <li>front-end (User interface) : Assigned to Mr. Vishal / Mr. Anirudh</li>
                <li>back-end (Logic part- script) : Assigned to Mr. Vikram </li>
              </ol>
            
            </li>
            <li style="margin-top:10px"> <p class="text-success">Release 1 :
                Represent the card deck using data structures. Write a shuffle method that returns a deck of shuffled cards</p>
              
                <ol>
                  <li>Represting card deck:
                    <code>
                      <p>
                    var cards = [];  <br>
                    var suits = ["spades", "hearts", "clubs", "diams"];<br>
                    var numb = ["A", "2", "3", "4", "5", "6", "7", "8", "9", "10", "J", "Q", "K"];<br>
                    var cardCount = 0;<br>
                    // pushing cards in Cards[] array<br>
                    for (s in suits) {  <br>
                      var suit = suits[s][0].toUpperCase();<br>
                      var bgcolor = suit == "S" || suit == "C" ? "black" : "red";<br>
                      for (n in numb) {<br>
                        //output.innerHTML += "<span style='color:" + bgcolor + "'>&" + suits[s] + ";" + numb[n] + "</span> ";
                        var cardValue = n > 9 ? 10 : parseInt(n) + 1;<br>
                        //var cardValue = 1; <br>
                        var card = { <br>
                          suit: suit,<br>
                          icon: suits[s],<br>
                          bgcolor: bgcolor,<br>
                          cardnum: numb[n],<br>
                          cardvalue: cardValue,<br>
                        };<br>
                        cards.push(card);<br>
                      }<br>
                    }<br>
                  </p>
                  </code>  
                  </li>
                  <li>Shuffling the card deck:
                    <code>
                      <p>
                        shuffleDeck(cards);  // passing array as parameter<br>

                        // shuffle card deck function<br>

                        function shuffleDeck(array) {<br>
                          for (var i = array.length - 1; i > 0; i--) {<br>
                            var j = Math.floor(Math.random() * (i + 1));<br>
                            var temp = array[i];<br>
                            array[i] = array[j];<br>
                            array[j] = temp;<br>
                          }<br>
                          return array;<br>
                        }<br>
                      </p>
                    </code>
                  
                  </li>
                </ol>

              </li>
                 
            <li style="margin-top:10px"> <p class="text-success">Release 2 :
              Write the logic necessary to get the game to start. You need to take a number of players as input and deal cards accordingly. Don't forget the dealer!</p>
            
              <ol>
                <li>Fixed 1 player with Dealer</li>
                <li>Initially, Assigned Rs.500 in Player wallet to start game.</li>
                <li>Player need to pass valid amount to start game as betting amount.</li>
                <li>showing alert if betting amount is not valid.</li>
                <li>Shows Dealer and Player hand 's card value and button for stand,hit and double betting amount.</li>
              </ol>
            
            </li>
            
   
           <li style="margin-top:10px"> <p class="text-success">Release 3 :
            Write the logic for betting. Also, write the function that checks who has won the game and accordingly increases or decreases chips</p>
          
            <ol>
              <li>function to check who has won the game : 
               <code>
                <br>
                //WHo won???<br>
                var playervalue = checktotal(playerCard);<br>
                if (playervalue == 21 && playerCard.length == 2) {<br>
                  play_audio_win();<br>
                  message.innerHTML = "Player Blackjack 💥😎🤑😉🎉✨🎁";<br>
                  payoutJack = 1.5;<br>
                  playend();<br>
                }<br>
              
                var betvalue =<br>
                  parseInt(document.getElementById("title").value) * payoutJack;<br>
                if (<br>
                  (playervalue < 22 && dealervalue < playervalue) ||<br>
                  (dealervalue > 21 && playervalue < 22) <br>
                ) {
                  play_audio_win();<br>
                  message.innerHTML +=<br>
                    '<span style="color:green;">You WIN! 💥🤑🎁 You won <strong>₹ ' +<br>
                    betvalue +<br>
                    "</strong></span>";<br>
                  localStorage.wallatbal = parseInt(localStorage.wallatbal) + betvalue * 2;<br>
                }<br> 
                else if (playervalue > 21) {<br>
                  game_tie_audio();<br>
                  message.innerHTML +=<br>
                    '<span style="color:red;">Dealer Wins! You lost <strong>₹ ' +<br>
                    betvalue +<br>
                    " 🤯💔</strong></span>";<br>
                } else if (playervalue == dealervalue) {<br>
                  ame_tie_audio();<br>
                  message.innerHTML += '<span style="color:blue;">Game Tie ✨🎉</span>';<br>
                  localStorage.wallatbal = parseInt(localStorage.wallatbal) + betvalue;<br>
                } else {<br>
                  game_tie_audio();<br>
                  message.innerHTML +=<br>
                    '<span style="color:red;">Dealer Wins! You lost <strong>₹ ' +<br>
                    betvalue +<br>
                    " 🤯🤯💔</strong></span>";<br>
                }<br>
                playerValue.innerHTML = playervalue; <br>
                myWalletbal5.innerHTML = localStorage.wallatbal; <br>

               </code>
              </li>
              <li>Button appear for redeal the gsme with same betting amount or reset the game.</li>
             
            </ol>

          </li>
            
            <li style="margin-top:10px"> <p class="text-success">Release 4 :
            Create an interactive GUI which lets a user play BlackJack. Make your Milestone live</p>
          
             <a style="font-size: 12px;" href="https://vikramrai-mumbai.github.io/BlackJack/index.html" target="_blank">Github Page Link  :  https://vikramrai-mumbai.github.io/BlackJack/index.html</a>
          
          </li>
            
            <li style="margin-top:10px"> <p class="text-success">Release 5 :
            Write tests for your game. Test each and every functionality and integrate this on your Github Repo</p>
              
            <p> unit/integration test case using jest testing framework : under development</p>
          
          </li>
          </ul>
          </div>
        </div>
      </div>
    </div>


    <script src="./js/script.js"></script>
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    

  
  </body>
</html>