<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="./css/style.css">
    <title>TODO | Vikram</title>
    <link rel="shortcut icon" href="../public/images/todo-icon.png" type="image/x-icon">
  </head>
  <body>
    <nav class="navbar navbar-expand navbar-light pt-4 ps-5 pe-5"  >
      <!-- style="background-color: #004989;" -->
      <div class="container me-md-5 ms-md-5 ps-md-5 pe-md-5" >
        <!-- style="border-bottom: 2px solid #000;" -->
        <a class="navbar-brand" href="index.html">
          <img src="../public/images/todo-icon.png" alt="" width="80" >
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <!-- <li class="nav-item">
              <a class="nav-link" aria-current="page" href="index.html">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" onclick="ResetLocalStorage()">Reset Game</a>
            </li> -->
          </ul>
          <div class="d-flex">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" data-bs-toggle="modal" data-bs-target="#exampleModal"  onclick="ResetLocalStorage()"><i
                    class="bi bi-arrow-repeat" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Reset App"></i></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" aria-current="page" data-bs-toggle="modal" data-bs-target="#modalDevelope"><i class="bi bi-info-circle-fill" data-bs-toggle="tooltip" data-bs-placement="bottom" title="App Details"></i></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" aria-current="page" data-bs-toggle="modal" data-bs-target="#modalDevelope"><i class="bi bi-file-code-fill" data-bs-toggle="tooltip" data-bs-placement="bottom" title="App Developed by"></i></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>

    <div class="container ps-5 pe-5">
      <div class="row">
        <div class="col-sm-12 pe-5">
          <h4 class="text-muted text-end">Welcome, <strong><span id="userDisplayName"><%= displayName %></span></strong></h4>
        </div>
      </div>
    </div>

    <div class="container"  >
      <div class="row">
          <div class="pt-0 ps-5 pe-5 pb-4 display-3 text-center">TODO. APP</div>
      </div>
      <div class="row" id="inputDiv">
        <button data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btnStyle mt-2" >Add TODO</button>
      </div>
    </div>

    <div class="container mt-4" id="TodoDiv" style="">
      <div class="row">
        <div class="col m-auto">
          <h3 class="p-1 text-muted text-center">My TODO LIST :</h3>
           
          <!-------------------->

          <div class="container">
            <h2>Select Number Of Rows</h2>
                    <div class="form-group"> 	<!--		Show Numbers Of Rows 		-->
                         <select class  ="form-control" name="state" id="maxRows">
                             <option value="5000">Show ALL Rows</option>
                             <option value="5">5</option>
                             <option value="10">10</option>
                            </select>
                         
                      </div>
    
    <table class="table table-striped table-class" id= "table-id">
      
      <thead>
        <tr>
            <th>Title</th>
            <th>Category</th>
            <th>Status</th>
            <th>CreatedAt</th>
            <th>Actions</th>
        </tr>
        
      </thead>
      
      <tbody>
        <% todo.forEach(function(list) { %>
        <tr>
            <td><%= list.title %></td>
            <td><%= list.category %></td>
            <td><%= list.status %></td>
            <td><%= moment().format('Do MMMM, YYYY', list.createdAt)  %></td>
            <td> 
                <i class="bi bi-pencil-square" data-bs-toggle="modal" data-bs-target="#exampleModalEdit" data-bs-placement="bottom" title="Edit Item"></i> 
                <i class="bi bi-trash-fill" data-bs-toggle="modal" data-bs-target="#exampleModalDelete" data-bs-placement="bottom" title="Delete Item"></i> </td>
        </tr>
        <% }) %>
     
          </tbody>
    
    </table>
    
    <!--		Start Pagination -->
                <div class='pagination-container' >
                    <nav>
                      <ul class="pagination">
                
                <li data-page="prev" >
                                         <span> < <span class="sr-only">(current)</span></span>
                                        </li>
                       <!--	Here the JS Function Will Add the Rows -->
            <li data-page="next" id="prev">
                                           <span> > <span class="sr-only">(current)</span></span>
                                        </li>
                      </ul>
                    </nav>
                </div>
    
    </div> 

          <!--------------------->
        

        </div>
      </div>
    </div>

      
      








    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Add New TODO Item</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">

             under construction

          </div>
        </div>
      </div>
    </div>

    <!-- Modal for edit item -->
    <div class="modal fade" id="exampleModalDelete" tabindex="-1" aria-labelledby="exampleModalLabelDelete" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalDeleteLabel">Delete TODO Item </h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
  
               Are you sure to delete?
  
            </div>
          </div>
        </div>
      </div>  
    <!-- Modal for delete item -->
    <div class="modal fade" id="exampleModalEdit" tabindex="-1" aria-labelledby="exampleModalLabelEdit" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalEditLabel">Edit TODO Item</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
  
               Under contruction
  
            </div>
          </div>
        </div>
      </div>
    <!-- Modal -->
    <div class="modal fade" id="modalDevelope" tabindex="-1" aria-labelledby="modalDeveloper" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="modalDeveloper">Todo App Developed By</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <ol>
              <li>Vikram Kumar</li>
          
            </ol>
        
          </div>
        </div>
      </div>
    </div>


    <script src="./js/script.js"></script>
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    

  
  </body>
</html>